<!--Pagina 9 - Formulario Web CREDITOS-->

{% extends 'layout.html' %} <!--Coloque el codigo-->


{% block content %}  <!--Bloque contenido dinamico-->


<br><br><br>
<center>
<img src="../static/imagenes/yo.png" height="200" width="200">
<h3>Ficha 2486779 - Tecnico en Programación Software</h3>
<h4>SENA Centro de Comercio y Turismo</h4>
</center>

<br>
    <center><h5>Desarrollamos tu sitio web </h5></center>
    <center></center>
    <hr>

    <p1></p1>

<center>
    <table width="80%" border="1" >
        <tr style="background-color: blue">
          <td rowspan="3"><img src="../static/imagenes/colegio.png"  width="200"></td>
          <td rowspan="3"><img src="../static/imagenes/sena.png"  width="200"></td>
          <td>Andres Felipe Gutierrez Vera. Programador</td>
          
        </tr>
        <tr>
            <td>320 862 9078 + <a href="#">gutierrezveraandresfelipe@gmail.com</a> </td>
            <br>
          
        </tr>
        <tr>
          
          <td>Contamos con un gran equipo de profesionales en las áreas de diseño web, redes sociales, base de datos XAMPP / Mysql y Emprendimiento con más de 2 años de experiencia ayudando a empresas del municipio de Barcelona donde se generan estrategias para aumentar las ventas</td>
          
        </tr>
      </table>
</center>
<!--Pie de pagina-->    
    <br>

    <center>
        <h5> &copy; Sistema de Informacion Academia Lua Cheia 2023. All Rights Reserved.  </h5>
    </center>
    
{% endblock  %}  <!--Fin Bloque contenido-->