{% extends 'index.html' %} <!--Coloque el codigo-->


{% block content %}  <!--Bloque contenido-->

<center></center>
<BR><BR><BR>
    <CENTER>
<h2>
    ACADEMIA LUA CHEIA
    <span>ACADEMIA LUA CHEIA</span>
    <span>ACADEMIA LUA CHEIA<img src="../static/imagenes/logo2-removebg-preview.png" height="100" width="100"> </span>
    <span>GRUPO ANGOLINHA <img src="../static/imagenes/logo1.png" height="70" width="70"> </span>
</h2>
</CENTER>
<BR><BR><BR><BR><BR><BR><BR><BR><BR><br>
<h3>Vision</h3>
<p1>La Academia Cultural De Capoeira Lua Cheia fue fundada el 8 de
    Enero de 2011, por Edicxon Fernández Martínez, Contramestre “Cabeleira”,
    en Puerto Ordaz, Edo Bolívar, Venezuela. El 14 de Julio fue mudada a
    Bogotá fundando así el Grupo de Capoeira Angolinha Colombia. Su sede
    principal está en la ciudad de São Mateos, São Paulo-Brasil, llamada
    “GRUPO DE ACADEMIAS DE CAPOEIRA ANGOLINHA” y fue
    fundada el 05 de Abril de 1975, en la ciudad de Porto Ferreira, São Paulo
    Brasil, por José Paulo Dias Mestre “Carapau”.<br>
    Capoeira existe y es reconocida en todos los países del mundo.Este
    deporte surgió debido a la necesidad de libertad de los negros esclavos,
    provenientes del África, que fueron en busca de refugio a los países de
    América, para lograr escapar de las necesidades, hambre, miseria y así tener
    una vida digna, de esta manera ellos lograron conquistar su libertad, y
    decretaron para ellos la Ley “Áurea” creada por la Princesa Isabel el 13 de
    Mayo de 1888.</p1><br><br>
<h3>MISION</h3>
<p1>La  Academia  Cultural  de  Capoeira  Lua  Cheia  tiene  como  misión, 
    complementar la formación de recursos humanos, hacia un mejor nivel de 
    cultura,  perspectivas  de  vida  elevadas,  y  con  una  visión  de  futuro, 
    contribuyendo así al desarrollo social y cultural del país.</p1><br><br>
<h3>OBJETIVO</h3>
<p1>La  Academia Cultural de  Capoeira  Lua  Cheia  tiene como objetivo, 
    difundir la capoeira en todos sus sentidos como deporte, cultura y tradición, 
    y capacitar atletas aptos para competir a nivel nacional e internacional.</p1>

    <h3>VALORES CORPORATIVOS</h3>
    <ul3>
        <li>calidad</li>
        <li>liderazgo</li>
        <li>comportamiento</li>
        <li>honestida</li>
        <li>lealtad</li>
        <li>compañerismo</li>
        <li>amor al trabajar</li>
        <li>respectar a nuestros clientes y preferencias</li>
    </ul3>

<br><br>
<center><table>
    <tr>
        <td>
            <a title="Instragram" href="https://www.instagram.com/academialuacheia/" ><img src="../static/imagenes/instagram-removebg-preview.png" height="50" width="50" alt="Instagram" /></a>
        </td>
    
        <td>
            <a title="Facebook" href="https://www.facebook.com/academia.cheia" ><img src="../static/imagenes/facebook-removebg-preview.png" height="50" width="50" alt="Facebook"></a>
            
        </td>

        <td>
            <a title="Whatsapp" href="https://wa.me/qr/IO5TTVSRKW4JC1" ><img src="../static/imagenes/whatsapp-removebg-preview.png" height="50" width="50" alt=Whatsapp"></a>
            
        </td>

        <td>
            
            <a title="Email" href="https://mail.google.com/mail/u/0/?zx=vmfvm8l62nm#inbox" ><img src="../static/imagenes/gmail-removebg-preview.png" height="50" width="50" alt="Email" /></a>
            
        </td>


    </tr>
    
    </table></center>

    


    
<p></p>

{% endblock  %}  <!--Fin Bloque contenido-->