
<!--Pagina 2 - Formulario Web ESTUDIANTES-->

{% extends 'layout.html' %} <!--Coloque el codigo-->


{% block content %}  <!--Bloque contenido-->
    
<!--Estudiantes -->
<br><br><br>
<h1> <P align="left"> Estudiantes </P> </h1>
<br><br><br>
<link href='https://fonts.googleapis.com/css?family=Muli' rel='stylesheet' type='text/css'>
<div class='content'>
    <div class='visible'>
    <p>
        SALVE !!  _  
    </p>
    <ul>
        <li> Grupo! Angolinha !</li>
        <li> </li>
        <li> Lua Cheia !</li>
    </ul>
    </div>
</div>
<BR><BR>
    
<!--inicio del Formulario::: action=/"agregar_estudiante"    -->    
<form action="/agregar_estudiante" method="post">
    
    <table> 
        
    <!--Fila 1 >--> 
    <tr> 
        <td>   <label for="tipo_documento">Tipo de Documento: </label></td>
        <td> 
            <select name="tipo_documento"> 
                <option value="T.I.">T.I.</option> 
                <option value="Cedula" selected>Cedula</option> 
                <option value="Pasaporte">Pasaporte</option> 
                <option value="NIT">NIT</option> 
            
            </select> 
            
            <br></td>
        </tr>
    
    <!--Fila 2 >--> 

    <tr> 
        <td> <label for="id_estudiante">Documento Identidad: </label></td> 
        <td> <input type="text" id="id_estudiante" name="id_estudiante" /><br></td> 
    </tr>  
    
        <!--Fila 3 >--> 
    <tr> 
        <td> <label for="nombres">Nombres: </label></td> 
        <td> <input type="text" id="nombres" name="nombres" /><br></td> 
    </tr> 
    
        <!--Fila 4 >--> 
    <tr> 
        <td> <label for="apellidos">Apellidos: </label></td> 
        <td> <input type="text" id="apellidos" name="apellidos" /><br></td> 
    </tr> 
        <!--Fila 5 >--> 
    <tr> 
        <td> <label for="direccion">Direccion: </label></td> 
        <td> <input type="text" id="direccion" name="direccion" /><br></td> 
    </tr> 
        <!--Fila 6 >--> 
    <tr> 
        <td> <label for="celular">Celular: </label></td> 
        <td> <input type="text" id="celular" name="celular" /><br></td> 
    </tr>
        <!--Fila 7 >--> 
    <tr> 
        <td> <label for="email">Email: </label></td> 
        <td> <input type="text" id="email" name="email" /><br></td> 
    </tr> 
        <!--Fila 8 >--> 
    <tr> 
        <td> <label for="fecha_nacimiento">Fecha Nacimiento: </label></td> 
        <td> <input type="date" id="fecha_nacimiento" name="fecha_nacimiento" /><br></td> 
    </tr>

    </table>
        <br>
        <input type="submit" id="boton_registrar" name="boton_registrar" value="Registrar" />

</from>
    
<br>
<br>
<br>
    <table>
    
        <thead>
            <tr>
                <td>Tipo documento</td>
                <td>Id Estudiante</td>
                <td>Nombres</td>
                <td>Apellidos</td>
                <td>Direccion</td>
                <td>Celular</td>
                <td>Email</td>
                <td>Operaciones</td>
            </tr>
        </thead>
        <tbody>
            {% for estudiante in estudiantes %}
                <tr>
                    <td>{{estudiante.0}}</td>
                    <td>{{estudiante.1}}</td>
                    <td>{{estudiante.2}}</td>
                    <td>{{estudiante.3}}</td>
                    <td>{{estudiante.4}}</td>
                    <td>{{estudiante.5}}</td>
                    <td>{{estudiante.6}}</td>
            
                    <td><a href="/editarestudiante/{{estudiante.1}}">Editar</a></td>
    
                    <td><a href="/borrarestudiante/{{estudiante.1}}">Eliminar</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endblock  %}  <!--Fin Bloque contenido-->